body{
    margin: auto;
    width: 1270px;
    max-width: 100%;
    height: 5000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logofundo{
    background-color: green;
    width: 100%;
}
#container{
    background: linear-gradient(to right,#77430d, #e28340,#e89b81) ;
    border-radius: 2px;
    max-width: 1280px;          
    width: 100%;            
    height: auto;
}
#logo{
    width:50px;
    height: 50px;
    margin-left: 1em;
}

#todomenu{
    float:right;
    text-decoration: none;
}
#menu{
    list-style-type: none;
    float: left;
}
li{
    padding-right: 20px;
    display: inline-block;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.oqueé:hover{
    background-color:#E5B109;
}
a.fiqueatento:hover{
    background-color:#E5B109;
}
a.façaasuaparte:hover{
    background-color:#E5B109;
}
a.ods:hover{
    background-color:#E5B109;
}
@media (max-width: 700px) {
    #todomenu {
     display:none;
    }
}
@media (max-width: 700px) {
    #logo {
        margin-left: 41vw;
    }
}
.paragrafoz{
    margin-top: 100px;
    float: left;
    margin-right: 50px;
}