body {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    height: 10000;
  }

  .box {
    position: sticky;
    border: 2px solid blue;
    float: left;
    width: 297px;
    height: 300px;
    border-radius: 0px;
    background-color: rgb(207,232,220);
    padding: 1em;
  }

  .box2{
    position: relative;
    border: 2px solid green;
    margin-left: 0px;
    float: left;
    width: 297px;
    height: 300px;
    border-radius: 0px;
    background-color: rgb(207,232,220);
    padding: 1em;
  }

  .box3{
    position: static;
    border: 2px solid purple;
    margin-left: 0px;
    float: right;
    width: 297px;
    height: 300px;
    border-radius: 0px;
    background-color: rgb(207,232,220);
    padding: 1em;
  }

  .box4{
    position: relative;
    border: 2px solid red;
    float: left;
    width: 960px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em;
  }

  .box5{
    position: relative;
    border: 2px solid peru;
    float: left;
    width: 960px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em;
  }
  .box6{
    border: 2px solid greenyellow;
    float: left;
    width: 300px;
    height: 800px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
  }
  .box7{
    border: 2px solid blue;
    float: left;
    width: 681px;
    height: 500px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
}
.box8{
  border: 2px solid royalblue;
  float: left;
  width: 681px;
  height: 295px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
}
.box9{
  border: 2px solid sienna;
  float: left;
  width: 300px;
  height: 500px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
}
.box10{
  border: 2px solid teal;
  float: left;
  width: 681px;
  height: 500px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
}
.box11{
  border: 2px solid tomato;
  float: left;
  width: 985px;
  height: 150px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
}